<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.nasanir.fountain.common.function.mapper.FieldVOMapper">
  <resultMap id="BaseResultMap" type="pers.nasanir.fountain.common.function.entity.FieldVO">
    <id column="FIELD_ID" jdbcType="BIGINT" property="fieldId" />
    <result column="FUNCTION_CODE" jdbcType="VARCHAR" property="functionCode" />
    <result column="FIELD_CODE" jdbcType="VARCHAR" property="fieldCode" />
    <result column="FIELD_NAME" jdbcType="VARCHAR" property="fieldName" />
    <result column="FIELD_TYPE" jdbcType="VARCHAR" property="fieldType" />
    <result column="FIELD_LEN" jdbcType="INTEGER" property="fieldLen" />
    <result column="FIELD_ORDER" jdbcType="INTEGER" property="fieldOrder" />
    <result column="ISVAILD" jdbcType="BIT" property="isvaild" />
    <result column="DESCRIPTION" jdbcType="VARCHAR" property="description" />
    <result column="CREATED_DT" jdbcType="TIMESTAMP" property="createdDt" />
    <result column="CREATED_BY" jdbcType="VARCHAR" property="createdBy" />
    <result column="CHANGE_DT" jdbcType="TIMESTAMP" property="changeDt" />
    <result column="CHANGE_BY" jdbcType="VARCHAR" property="changeBy" />
  </resultMap>
  <sql id="Base_Column_List">
    FIELD_ID, FUNCTION_CODE, FIELD_CODE, FIELD_NAME, FIELD_TYPE, FIELD_LEN, FIELD_ORDER, 
    ISVAILD, DESCRIPTION, CREATED_DT, CREATED_BY, CHANGE_DT, CHANGE_BY
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from fountain_manager_field
    where FIELD_ID = #{fieldId,jdbcType=BIGINT}
  </select>

  <select id="selectByCode" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from fountain_manager_field
    where FUNCTION_CODE = #{functionCode,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from fountain_manager_field
    where FIELD_ID = #{fieldId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="pers.nasanir.fountain.common.function.entity.FieldVO">
    insert into fountain_manager_field (FIELD_ID, FUNCTION_CODE, FIELD_CODE, 
      FIELD_NAME, FIELD_TYPE, FIELD_LEN, 
      FIELD_ORDER, ISVAILD, DESCRIPTION, 
      CREATED_DT, CREATED_BY, CHANGE_DT, 
      CHANGE_BY)
    values (#{fieldId,jdbcType=BIGINT}, #{functionCode,jdbcType=VARCHAR}, #{fieldCode,jdbcType=VARCHAR}, 
      #{fieldName,jdbcType=VARCHAR}, #{fieldType,jdbcType=VARCHAR}, #{fieldLen,jdbcType=INTEGER}, 
      #{fieldOrder,jdbcType=INTEGER}, #{isvaild,jdbcType=BIT}, #{description,jdbcType=VARCHAR}, 
      #{createdDt,jdbcType=TIMESTAMP}, #{createdBy,jdbcType=VARCHAR}, #{changeDt,jdbcType=TIMESTAMP}, 
      #{changeBy,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="pers.nasanir.fountain.common.function.entity.FieldVO">
    insert into fountain_manager_field
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fieldId != null">
        FIELD_ID,
      </if>
      <if test="functionCode != null">
        FUNCTION_CODE,
      </if>
      <if test="fieldCode != null">
        FIELD_CODE,
      </if>
      <if test="fieldName != null">
        FIELD_NAME,
      </if>
      <if test="fieldType != null">
        FIELD_TYPE,
      </if>
      <if test="fieldLen != null">
        FIELD_LEN,
      </if>
      <if test="fieldOrder != null">
        FIELD_ORDER,
      </if>
      <if test="isvaild != null">
        ISVAILD,
      </if>
      <if test="description != null">
        DESCRIPTION,
      </if>
      <if test="createdDt != null">
        CREATED_DT,
      </if>
      <if test="createdBy != null">
        CREATED_BY,
      </if>
      <if test="changeDt != null">
        CHANGE_DT,
      </if>
      <if test="changeBy != null">
        CHANGE_BY,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fieldId != null">
        #{fieldId,jdbcType=BIGINT},
      </if>
      <if test="functionCode != null">
        #{functionCode,jdbcType=VARCHAR},
      </if>
      <if test="fieldCode != null">
        #{fieldCode,jdbcType=VARCHAR},
      </if>
      <if test="fieldName != null">
        #{fieldName,jdbcType=VARCHAR},
      </if>
      <if test="fieldType != null">
        #{fieldType,jdbcType=VARCHAR},
      </if>
      <if test="fieldLen != null">
        #{fieldLen,jdbcType=INTEGER},
      </if>
      <if test="fieldOrder != null">
        #{fieldOrder,jdbcType=INTEGER},
      </if>
      <if test="isvaild != null">
        #{isvaild,jdbcType=BIT},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="createdDt != null">
        #{createdDt,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null">
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="changeDt != null">
        #{changeDt,jdbcType=TIMESTAMP},
      </if>
      <if test="changeBy != null">
        #{changeBy,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="pers.nasanir.fountain.common.function.entity.FieldVO">
    update fountain_manager_field
    <set>
      <if test="functionCode != null">
        FUNCTION_CODE = #{functionCode,jdbcType=VARCHAR},
      </if>
      <if test="fieldCode != null">
        FIELD_CODE = #{fieldCode,jdbcType=VARCHAR},
      </if>
      <if test="fieldName != null">
        FIELD_NAME = #{fieldName,jdbcType=VARCHAR},
      </if>
      <if test="fieldType != null">
        FIELD_TYPE = #{fieldType,jdbcType=VARCHAR},
      </if>
      <if test="fieldLen != null">
        FIELD_LEN = #{fieldLen,jdbcType=INTEGER},
      </if>
      <if test="fieldOrder != null">
        FIELD_ORDER = #{fieldOrder,jdbcType=INTEGER},
      </if>
      <if test="isvaild != null">
        ISVAILD = #{isvaild,jdbcType=BIT},
      </if>
      <if test="description != null">
        DESCRIPTION = #{description,jdbcType=VARCHAR},
      </if>
      <if test="createdDt != null">
        CREATED_DT = #{createdDt,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null">
        CREATED_BY = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="changeDt != null">
        CHANGE_DT = #{changeDt,jdbcType=TIMESTAMP},
      </if>
      <if test="changeBy != null">
        CHANGE_BY = #{changeBy,jdbcType=VARCHAR},
      </if>
    </set>
    where FIELD_ID = #{fieldId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="pers.nasanir.fountain.common.function.entity.FieldVO">
    update fountain_manager_field
    set FUNCTION_CODE = #{functionCode,jdbcType=VARCHAR},
      FIELD_CODE = #{fieldCode,jdbcType=VARCHAR},
      FIELD_NAME = #{fieldName,jdbcType=VARCHAR},
      FIELD_TYPE = #{fieldType,jdbcType=VARCHAR},
      FIELD_LEN = #{fieldLen,jdbcType=INTEGER},
      FIELD_ORDER = #{fieldOrder,jdbcType=INTEGER},
      ISVAILD = #{isvaild,jdbcType=BIT},
      DESCRIPTION = #{description,jdbcType=VARCHAR},
      CREATED_DT = #{createdDt,jdbcType=TIMESTAMP},
      CREATED_BY = #{createdBy,jdbcType=VARCHAR},
      CHANGE_DT = #{changeDt,jdbcType=TIMESTAMP},
      CHANGE_BY = #{changeBy,jdbcType=VARCHAR}
    where FIELD_ID = #{fieldId,jdbcType=BIGINT}
  </update>
</mapper>